<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPELibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPELibrary.Properties.Settings>
            <setting name="FilterConfig_CheckNotShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterConfig_CheckSocket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterConfig_CheckIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterConfig_CheckPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterConfig_CheckHead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterConfig_CheckData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterConfig_CheckSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterConfig_CheckSocket_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterConfig_CheckIP_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterConfig_CheckPort_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterConfig_CheckHead_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterConfig_CheckData_Value" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterConfig_CheckLength_Value" serializeAs="String">
                <value>0-99;100</value>
            </setting>
            <setting name="HookConfig_HookWS1_Send" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWS1_SendTo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWS1_Recv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWS1_RecvFrom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWSA_Send" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWSA_SendTo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWSA_Recv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWSA_RecvFrom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListConfig_SocketList_AutoRoll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListConfig_SocketList_AutoClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListConfig_SocketList_AutoClear_Value" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ListConfig_LogList_AutoRoll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListConfig_LogList_AutoClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListConfig_LogList_AutoClear_Value" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SystemConfig_SpeedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemConfig_FilterList_Execute" serializeAs="String">
                <value>Sequence</value>
            </setting>
            <setting name="ProxyConfig_EnableSOCKS5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyConfig_ProxyPort" serializeAs="String">
                <value>8889</value>
            </setting>
            <setting name="ProxyConfig_EnableAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyConfig_Auth_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyConfig_Auth_PassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyConfig_LogList_AutoRoll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyConfig_LogList_AutoClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyConfig_LogList_AutoClear_Value" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="HookConfig_HookWS2_Send" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWS2_SendTo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWS2_Recv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HookConfig_HookWS2_RecvFrom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyConfig_ProxyList_NoRecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyConfig_ClientList_DelClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyConfig_ProxyIP_Auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyConfig_EXTProxy_EnableHttp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyConfig_EXTProxy_EnableHttps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyConfig_EXTProxy_HttpIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyConfig_EXTProxy_HttpsIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyConfig_EXTProxy_HttpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyConfig_EXTProxy_HttpsPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyConfig_EXTProxy_AppointHttpPort" serializeAs="String">
                <value>80,8080</value>
            </setting>
            <setting name="ProxyConfig_EXTProxy_AppointHttpsPort" serializeAs="String">
                <value>443,8443</value>
            </setting>
        </WPELibrary.Properties.Settings>
    </userSettings>
</configuration>